html, body, h1, h2, div, span {
	margin: 0 auto;
	padding: 0;
}
body {
	text-align: center;
	background: #e4e4e4;
}
input {
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border: solid 1px #ccc;
	background: #eee;
	border-radius: 5px;
	outline: none;
	width: 280px;
}
input:hover {
	background: #fff;
	border: solid 1px #729ddd;
	box-shadow: 0 0 10px #729ddd;
}
input:focus {
	background: #fff;
	border: solid 1px #729ddd;
	box-shadow: 0 0 10px #729ddd;
}
.disable:hover {
	background: #eee;
	border: solid 1px #ccc;
	box-shadow: none;
}
.disable:focus {
	background: #eee;
	border: solid 1px #ccc;
	box-shadow: none;
}
label {
	margin-right: 15px;
	font-size: 15px;
	vertical-align: text-top;
	color: #000;
}
#wrap600 {
	width: 600px;
}
#wrap900 {
	width: 900px;
}
#logo {
	height: 30px;
	line-height: 30px;
	background: #515151;
	text-align: center;
	color: #bebebe;
}
h1 {
	font-size: 15px;
}
.empty50h {
	height: 50px;
}
.btnstyle {
	margin: 0 10px 0 10px;
	width: 100px;
	height: 30px;
	background: #515151;
	font-size: 15px;
	color: #eee;
	border: none;
}
.btnstyle:hover {
	margin: 0 10px 0 10px;
	width: 100px;
	height: 30px;
	background: #888;
	font-size: 15px;
	color: #eee;
	border: #eee;
	box-shadow: 0 0 10px #eee;
	cursor: pointer;
}
.btnstyle:focus {
	margin: 0 10px 0 10px;
	width: 100px;
	height: 30px;
	background: #888;
	font-size: 15px;
	color: #eee;
	border: #eee;
	box-shadow: 0 0 10px #eee;
	cursor: pointer;
}
#attention {
	line-height: 50px;
	font-size: 15px;
	color: red;
}
table {
	border: solid 1px #aaa;
	width: 900px;
	border-spacing: 0;
}
thead {
	background: #ccc;
}
td {
	border: solid 1px #aaa;
	line-height: 30px;
}
tbody tr:hover {
	background: #c5f09e;
}
#logo {
	height: 30px;
	line-height: 30px;
	background: #515151;
	text-align: center;
	color: #bebebe;
}
h1 {
	font-size: 15px;
}
.empty50h {
	height: 50px;
}
.btnstyle {
	width: 100px;
	height: 30px;
	background: #515151;
	font-size: 15px;
	color: #eee;
	border: none;
}
.btnstyle:hover {
	width: 100px;
	height: 30px;
	background: #888;
	font-size: 15px;
	color: #eee;
	border: #eee;
	box-shadow: 0 0 10px #eee;
}
.btnstyle:focus {
	width: 100px;
	height: 30px;
	background: #888;
	font-size: 15px;
	color: #eee;
	border: #eee;
	box-shadow: 0 0 10px #eee;
}
#attention {
	line-height: 50px;
	font-size: 15px;
	color: red;
}
#title {
	float: left;
	margin-left: 15px;
}
#navuser {
	float: right;
	margin-right: 10px;
	font-size: 12px;
}
#navuser a {
	color: #bebebe;
	margin: 0 5px 0 0;
	text-decoration: none;
} 
#navuser a:hover {
	color: #bebebe;
	margin: 0 5px 0 0;
	text-decoration: none;
} 
#navuser a:visited {
	color: #bebebe;
	margin: 0 5px 0 0;
	text-decoration: none;
} 
